//  COLORS
$color-main-bg: #C4C4C4;
$color-black: #000000;
$color-white: #ffffff;

$color-item_search_bg: #E3E3E3;
$color-item_search_bg--active: #65CDF9;

$color-item_list_bg: #E27BEB;
$color-item_list_close: #FF0000;


//FONTS SIZE
$font-size__search-input: 48px;
$font-size__search-item: 30px;
$font-size__list-item: 24px;


@media (min-width: 320px) and (max-width: 768px) {
}

@media (max-width: 1339px) {

}

@media (min-width: 1440px) {

}




